@{
    ViewBag.Title = "Descripcion";
}
<h2 style="color:black">@ViewBag.Title.</h2>
<h3 style="color:black">Esta aplicación esta destinada al registro de las notas de los alumnos de un centro educativo</h3>

<p>
    <br /><h1 style="color: black">Aplicación Realizada por:</h1></p>

    <h3 style="color:black">
    <br />Rafael Angel Renderos
    <br />Erick Antonio Padilla
    <br /> Fabiola Lisbeth Zaldaña.

    </h3>

