@{
    ViewBag.Title = "Contacto";
}
<h2 style="color:black">@ViewBag.Title.</h2>
<h3 style="color:black">@ViewBag.Message</h3>

<address style="color:black">
    CDS AHUACHAPAN <br />
    Fundacion J.Borja,Ahuachapan<br />
    <abbr title="Phone">P:</abbr>
    6303-1888
</address>

<address style="color:black">
    <strong>Support:</strong>   <a style="color:black" href="erickpadillamendoza@gmial.com">Erick.padilla@proyectosfgk.org</a><br />
    <strong>Marketing:</strong> <a style="color:black" href="Rafael.renderos@proyectosfgk.com">Rafael.renderos@proyectosfgk.com</a>
</address>