@{
    ViewBag.Title = "Reguistro de Notas";
}

<div class="jumbotron color text-center" >
    <h1 style="color:black">Record of notes</h1>
    <img  src="https://tecnologiainformaticaespiritusanto.files.wordpress.com/2011/12/calificaciones1.jpg" width="100" height="100" class=""/>
    <p class="lead" style="color:black">Project created for the control of student grades</p>
  
</div>

<div class="row">
    <div class="col-md-4">
        <h2>What a System of record of notes?</h2>
        <p>
            The notes are used to provide additional information about an element of a results plan. You can add notes to a results plan, an evaluation, a service, an action, a reference, a factor, an objective and a goal. A note is specified as free text and can be prioritized and assigned a confidentiality rating so that only certain users can access it. A note can not be overwritten once it has been created in the system. When a note is modified, the system maintains a note history that includes the versions of the notes, the time and date on which the note was specified in the system, and the user who made the changes.
        </p>
       
    </div>
    <div class="col-md-4">
        <h2>What is a Notes Registration System for?</h2>
        <p>It helps us to keep track of the academic records of the students of an academic center and this gives us better performance and order to see the performance of students</p>
       
    </div>
    <div class="col-md-4">
        <h2>The importance of a System of record of notes?</h2>
        <p>Within an organization it is vitally important to keep track of all types of findings, processes and procedures, so we can make revisions and evaluations more easily. Manage the documentation of the company, saves time by finding the documentation instantly.</p>
     
    </div>
</div>

